.container {
    text-align: center;
    width: 100%;
}
.title {
    color: black;
}
.calculator {
    width: 50%;
    text-align: center;
    display: inline-block;
}
.output-table{
    background-color: purple;
    border-radius: 20px;
}
.output{
    text-align: right;
    padding-right: 5%;
}
.keypad-table{
    border-radius: 20px;
}
.box {
    background-color: #205b7a;
    color: #a2bbcf;
}
.box td{
    border-radius: 20px;
}
table {
    width: 90%;
    margin-bottom: 10px;
}

td {
    width: 120px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.reset {
    background-color: #142F44;
    color: #a2bbcf;

}